<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="user" class="cn.caber.springbootstudy.bean.User">
        <property name="name" value="aaa"/>
    </bean>

    <bean id="InitHandle" class="cn.caber.springbootstudy.bean.InitHandle" scope="singleton" init-method="init" destroy-method="destroy">
    </bean>

  <bean class="cn.caber.springbootstudy.bean.PostProcessor"/>
</beans>
